@import "tailwindcss";

:root {
  --background: #FFFCF8;
  --foreground: #333333;
  --primary: #8BA888;
  --primary-foreground: #ffffff;
  --secondary: #B8E2F2;
  --secondary-foreground: #1e293b;
  --accent: #F4E1D2;
  --accent-foreground: #4a3b2a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
